@import url("https://fonts.googleapis.com/css?family=Poppins:200,300, 400, 500, 600, 700,800, 900&display=swap");

* {
  --dark-green: #283618;
  --white: #FEFAE0;
  --orange: #BC6C25;
  font-family: "Poppins", sans-serif;
}

button{
  cursor: pointer;
}